* {margin: 0%;
padding: 0%;}

body {
    background-color: #e5e5e5;
    margin: 0%;
    padding: 0%;
    
}

header {
    display: flex;
    align-items: center;
    justify-content:center;
    
  }

.logo {
    width: 15%;
    padding-top: 5%;
    
}

main {display: block;}

.unrepo {
    padding: 2%;
    padding-left: 5%;
   align-items: center;
   justify-content: center;
   display:flex ;
   text-align: left;


  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

.buscadorco {
    width: 100%;
    height: 300px;
    background-image: url("IMG_0767.JPG");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.rueda {width: 200px;
    animation-duration: 5s;
    animation-name: roll;
    animation-iteration-count: infinite;
     animation-timing-function: linear;
    margin: 20px;}

    @keyframes roll {
        from {
         transform: rotate(0deg)
        }
      
        to {
            transform: rotate(360deg)
        }
      }

 .buscadorlet { font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;color: white;margin: 0%;padding: 0%;}     

    .lin1 {height: 1px;
        background-color: #ffd110;
        border-color: #ffd110;
        margin: 0%;padding: 0%;}





        *{
            margin: 0;
            padding: 0;
        }
    
        body{
            background-color: #f2f2f2;
        }
    
        h1{
            text-align: center;
        }
    
        .content{
            width: 60%;
            height: 100vh;
            margin: 0 auto;
            display: block;
            font-family: "Open Sans";
            background-color: white;
            padding: 25px;
        }
    
        form{
            width: 100%;
            margin-top: 60px;
            margin-bottom: 60px;
        }
    
        form #q{
            width: 100%;
            text-align: center;
            padding: 5px 0px;
        }
    
        table,
        table tr{
            width: 100%;
        }
    
        table,
        table tr,
        table tr th,
        table tr td{
            border: 1px solid lightgray;
            border-collapse: collapse;
        }
    
        table tr th,
        table tr td{
            padding: 5px 15px;
        }